<!doctype html>
<html lang="en" ng-app="pllugFiles">
  <head>
    <base href="/">
    <title >pllug files</title>
    <link href="/build/css/common.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div class="container">
        <div class="row">
          <h2 class="page-header">
            Pllug files
          </h2>
        </div>
      </div>
      <div class="container" id="main">
        <div class="row">  
          <div left-panel class="col-md-3 hidden-sm hidden-xs"></div>
          <div ng-view class="col-md-9"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <footer>
            <div class="copy">
              <div class="copy">&copy <a href="http://pllug.org">pllug.org</a>, 2014</div>
            </div>
          </footer>
        </div>
      </div>
    </div>  
    <script src="/js/build/app.build.js"></script>
  </body>
</html>

