extends ../layout

block content
 div.container-frluid(style="background-image: url('http://www.intrawallpaper.com/static/images/nature-up-close-wallpaper-39994-40924-hd-wallpapers.jpg'); height:1000px;background-repeat:no-repeat;background-position: center; ")
  div.container
    div.form-group.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2(style="margin-top:150px;")
      label.col-md-12(style="font-size:18px;color:white") Forgottent your password? 
        input.form-control(type="text", name="email", placeholder="Email Address",style="opacity:0.5;;margin-top:10px")
        button#btn-fbsignup.btn.btn-success.col-md-12(type="button", style="margin-top:10px;font-size:15px") Reset   your   password 
        div(style="margin-top:60px")
          a(href="./signin", style="color:white;") Sign In