extends ../layout

block content
 div.signin-container(style=" height:1000px;background-repeat:no-repeat;background-position: center; ")
  div.container(style="opacity:0.9")
    div.mainbox.col-sm-offset-3.col-sm-6(style="margin-top:250px")
      div.panel.panel-info
        div.panel-heading
          div.panel-title Sign In
          div(style="float:right; font-size:80%; position:relative; top:-10px") 
           a(href="./forgot-password") Forgot password?
        div.panel-body(style="padding-top:30px")
          div.alert.alert-danger.col-sm-12(style="display:none")
          form.signin-form.form-horizontal(method="POST")
            div.input-group(style="margin-bottom:25px")
                span.input-group-addon
                   i.glyphicon.glyphicon-user
                input.form-control.input(type="text", name="email", value="", placeholder="username or email")
             div.input-group(style="margin-bottom:25px")      
                span.input-group-addon
                   i.glyphicon.glyphicon-lock
                input.form-control.input(type="password", name="password", value="", placeholder="password")
              div.input-group
                div.checkbox
                  label
                    input(type="checkbox", name="remember", value="")
                    | Remember me
              div#test.form-group(style="margin-top:10px")
                <!==Button-->
                div.col-md-12.controls
                  input.btn.btn-success.signin-button(type="submit", value="Login")
                  a#btn-fblogin.btn.btn-primary(href="/auth/facebook", style="margin-left:3px") Login with Facebook
              div.form-group
                div.col-md-12.control
                  div(style="border-top:1px solid#888; padding-top:15px; font-size:85%")
                    |Don't have an account!
                    a(href="./signup")   Sign Up Here
   