extends ../layout

block content
  div(class="account-links")
    a.btn.btn-success(href="/account/signin") Sign in
    a.btn.btn-primary(href="/account/signup") Sign up
  div.video
    video(autoplay="autoplay" loop="true" id="bgvideo")
      source(src="/videos/home-video.mp4" type="video/mp4")

